/*font styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');



/*general */
* {
    box-sizing: inline-block;
    margin: 0;
    padding: 0;
    justify-self: center;
    font-family: "Playfair+Display";
}

/* Adding colors */

/*header colors */
.header-color {
    background: linear-gradient(to top, #374254, #efefef 1%);
}


.artist-title-button-color1 {
    background: linear-gradient(to left, #ffffff 90%, #D4AF37);
}

.artist-title-button-color1:hover {
    background: linear-gradient(to left, #ffffff 70%, #D4AF37);
}

.artist-title-button-color2 {
    background: linear-gradient(to left, #ffffff 85%, #BCC6CC);
}

.artist-title-button-color2:hover {
    background: linear-gradient(to left, #ffffff 60%, #BCC6CC);
}

.artist-title-button-color3 {
    background: linear-gradient(to left, #ffffff 80%, #a97142);
}

.artist-title-button-color3:hover {
    background: linear-gradient(to left, #ffffff 50%, #a97142);
}


.artist-title-button-color4 {
    background: linear-gradient(to left, #ffffff 90%, #dab6b6);
 }


 .artist-title-button-color4:hover {
    background: linear-gradient(to left, #ffffff 70%, #dab6b6);
 }

.footer-color {
    background-color: #efefef;
    border-top: solid 1px #374254
}



/* Header style */
.header-wrap {
    margin-right: 0px;

}

.footer-wrap {
    margin-right: 0px;
}

.main-header,
.motto {
    font-family: "Playfair+Display";


}

.header-row h1,
.header-row p {
    height: 120px;
    padding-top: 30px;
    letter-spacing: 2px;
    font-family: "Playfair+Display";


}

.header-row h2 {
    font-family: "Playfair+Display";
    margin: 0;
    padding: 0;
    position: relative;
    font-weight: 100;
    top: -60px;
}


.logo-header-column-height {
    max-height: 120px;

    padding-top: 12px;
}

.logo-header {
    z-index: 1;
    height: 100px;
    width: 100px;

}

.button1 img {
    border-radius: 50%;
    position: relative;

    width: 100px;
    opacity: 0.9;
    z-index: 1;
}

/* Styling Logo button adapted from GrahamTheDev */

.move-button-down {
    margin-top: 15px;
    border-radius: 50%;
}

.button1 {

    width: 100px;
    height: 100px;
    font-size: 30px;
    color: #fff;
    background: none;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 0;
    transition: .3s;
    cursor: pointer;
}



.button1:before {
    content: "";
    position: absolute;
    inset: -8px;
    padding: 10px;
    border-radius: 50%;
    background: conic-gradient(#374254,
            #0000 30deg 120deg,
            #0e1424 150deg 180deg,
            #0000 210deg 300deg,
            #374254 330deg);
    -webkit-mask:
        linear-gradient(#efefef 0 0) content-box,
        linear-gradient(#efefef 0 0);
    -webkit-mask-composite: xor;
    mask-composite: intersect;
    z-index: 4;
}

.button1:after {
    content: "";
    position: absolute;

    background:
        radial-gradient(33.33px at left 16.667px top 0px, #374254 100%, ##efefef),
        radial-gradient(33.33px at right 16.667px bottom 0px, #0e1424 100%, ##efefef);
    filter: blur(120px);
    opacity: 0.5;
    z-index: 4;
}

.button1:before,
.button1:after {
    transition: .5s, 99999s 99999s transform;
    z-index: 4;
}

.button1:hover {
    box-shadow: 0 0 2px 10px #6d6666;
    z-index: 4;
}

.button1:active {
    background-color: #0e1424;
    box-shadow: 0 0 2px 10px #dab6b6;
    transition: 0.3s;
    z-index: 4;
}






/* media query */


/*media query for header */
/* Default font size for small screens */
h1 {
    font-size: 18px;
    letter-spacing: 1.5px;

}

h2 {
    font-size: 14px;
    letter-spacing: 2px;
}

/*styling the dropdown menu */
/* Style The Dropdown Button */


.dropbtn {
    background-color: #374254;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    opacity: 1;
    position: relative;
    display: inline-block;
    left: 0px;
    right: 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dab6b6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.3s;
}

/* Links inside the dropdown */
.dropdown-content a {

    color: #fafafa;
    padding: 12px 16px;
    align-self: left;
    text-align: center;
    text-decoration: none;
    display: block;
    background: #dab6b6 99%;
    /* Initial background */
    transition: background 0.3s ease;
    /* Add a transition for the background */
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #374254;
    transition: 0.1s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #dab6b6;
    transition: 0.3s;
}

.dropdown {
    align-items: center;
    justify-content: center;
}


.motto {
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}

.dropdown {
    height: 80px;
}

.dropdown-content a {
    font-size: 13px;
}


/* Medium screens (425px and above) */
@media (min-width: 425px) {
    h1 {
        font-size: 27px;
    }

    h2 {
        font-size: 18px;
        letter-spacing: 3px;
    }

    .dropdown {
        opacity: 1;
    }

    #dropdown-button {

        display: relative;
        height: 177px;
        width: max-content;
        margin: 0px;
        padding: 0px;
        justify-self: center;

    }

    .motto {
        font-size: 20px;
    }

    .dropdown-content a {
        font-size: 16px;
    }
}

/* Medium screens (768px and above) */
@media (min-width: 768px) {
    h1 {
        font-size: 32px;
        letter-spacing: 2.5px;
    }

    h2 {
        font-size: 20px;
        letter-spacing: 4px;
    }

    .header-wrap {
        margin: 0px;
        padding: 0px;
    }

    .motto {
        font-size: 22px;
    }

    .dropdown-content a {
        font-size: 18px;
    }
}

/* Large screens (992px and above) */
@media (min-width: 992px) {
    h1 {
        font-size: 48px;
        margin-bottom: 30px;
    }

    .sub-header {
        font-size: 20px;
        letter-spacing: 4px;

    }

    .dropdown {
        height: 100%;
        align-items: center;
    }

    .motto {
        font-size: 28px;
        padding: 0px;
    }

    #motto-padding {
        padding: 0px;
    }

    .dropdown-content a {
        font-size: 24px;
    }

    #dropdown-button {
        height: 100%;
        padding-top: 0px;
    }
}




/*styling the main section */

/*Styling the article */

article {}

.article-heading {
    margin-top: 70px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #dab6b6;
    letter-spacing: 3px;
}

#scrolling-paragraph {
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.hr-centered {
    align-self: center;
}

/* media query large screen sizes */

@media(min-width:1024px) {


    #scrolling-paragraph {
        font-size: 20px;
    }

    #article-heading-line-height {
        line-height: 70px;
        letter-spacing: 5px;
        font-size: 34px;
    }
}


/*1st artist showcase */
.showcase-margin-top {
    padding-bottom: 50px;
}

.portrait-images {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.artist-title-header {
    display: inline-block;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-color: #dab6b6;
}


.artist-title-button {
    width: 100%;
    height: 120px;
    border: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    
}

.artist-column-button-centered {
    padding-left: 10%;
    width: 90%;
    padding-bottom: 50px;
}


.damien-hirst-portrait-image {
    object-fit: cover;
    object-position: 25% 25%;
}


.artist-advertising-text {letter-spacing: 2px;font-size: 24px;}



/* Gallery Page */


/*stying Alex Katz gallery page */

.styling-artist-title-names {margin-top: 40px;
font-size: x-large;}

.gallery-1 {max-width: 70%;
height:auto;
margin-top: 50px;}






/* styling the form */
.contact-us {margin:10px;
    font-style: italic;
 letter-spacing: 2px;
padding: 10px;}




#contact-form {padding:20px;}

@media (max-width:426px) {
    #fullname-padding-small {padding-bottom: 30px;}
    
}

.button-send-styling {width:50%; height:45px;}
.button-send-styling:hover {background-color: #dab6b6;}




/* styling the footer */

footer {
    height: 150px;
    position: fixed;
    bottom: 0px;
}

.community-footer-header {
    font-size: 17px;
    color: #374254;
    font-family: "Playfair+Display";
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

.first-layer-badge {
    width: 100|%;
}

div a i {
    color: #374254;
    font-size: 25px;
    align-self: center;
    letter-spacing: 3px;
}

.fa-facebook {
    margin-left: 40px;
}

.designed-by {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding-designed-by {
    padding-left: 25px;
    font-size: 20px;
    background: -webkit-linear-gradient(#374254, #dab6b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




@media (min-width:375px) {
    .fa-facebook {
        padding-left: 31px;
    }


}


@media (min-width:395px) {
    .fa-facebook {
        padding-left: 37.8px;
    }


}

@media (min-width:415px) {
    .fa-facebook {
        padding-left: 44.6px;
    }


}


@media (min-width:425px) {
    .fa-facebook {
        padding-left: 53px;
    }


}



@media (min-width:767px) {
    .fa-facebook {
        padding: 0;
        margine: 0;
    }

    div a i {
        letter-spacing: 2px;
        margin: 0;
        padding: 0;
        font-size: 18px;
    }

    .community-footer-header {
        text-align: center;
        padding-left: 10px;
    }

    .move-button-down {
        padding-left: 30px;
    }

    .container-outline {}
}

@media (min-width:1023px) {


    .padding-designed-by {
        margin-left: 30px;
    }

    div a i {
        letter-spacing: 2px;
        align-self: center;
        font-size: 18px;
    }

    .fa-facebook {
        padding-left: 42px;
    }

    .community-footer-header {
        text-align: center;
        padding-left: 10px;

    }

    #move-footer-button-down {
        margin-top: 20px;
        padding-left: 40px;
    }


    footer div>div {
        height: max;
        width: max;
    }
}

@media (min-width:1440px) {
    .fa-facebook {padding-left: 110px;}
    .padding-designed-by {
        margin-left: 90px;
    }
#motto-padding {margin-top: 10px;}
}